@font-face {
    font-family: 'Geologica Thin';
    src: local('Geologica Thin'),
    url(../fonts/ofont.ru_Geologica.ttf);
}
@font-face {
    font-family: 'Geologica Bold';
    src: local('Geologica Bold'),
    url(../fonts/ofont.ru_GeologicaBold.ttf);
}
::-webkit-scrollbar {
    width: 0;
}
*{
    list-style: none;
    text-decoration: none;
}
body{
    margin: 0;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 11%, rgba(222,222,222,1) 100%);
}
/*nav*/

.logo{
    width: 5%;
}

.navigation .i{
    display: flex;
    font-family: "Geologica Bold";
    font-size: 20px;
    justify-content: space-between;

    margin-top: 1%;
    margin-bottom: 3%;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    padding: 5px;
}

.navigation a:hover{
    color: #dcdcdc;
    background: rgba(246, 246, 246, 0.06);
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}
.navigation i{
    font-size: 20px;
    margin-top: 1%;

}
.cont{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
h1{
    font-size: 25px;
    color: #000000;

    font-family: "Geologica Bold";

}




.nazv{
    margin: 0 auto;
    width: 95%;
    display: flex;
}
h2{
    font-family: "Geologica Bold";
    font-size: 35px;
}
.nazv a{
    font-size: 27px;
    color: black;
    padding-top: 40px;
}
.nazv a:hover{
    color: #777777;
}


/*Расписание*/
.pogoda{
    width: 100%;
}
.pog{
    width: 40%;
    margin: 0 auto;
    font-family: "Geologica Thin";
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
}
table{
    width: 100%;
    margin: 0 auto;
}
td{
    font-family: "Geologica Thin";
    font-size: 20px;
    padding: 2%;
}
td a{
    color: black;
}
td a:hover{
    color: #777777;
}
#rocket{
    padding: 0;
    text-align: center;
}
#rockets{
    padding: 0;
    text-align: center;
    color: black;
}
#rocketss{
    padding: 0;
    text-align: center;
}
#rocketsss{
    padding: 0;
    text-align: center;
    color: black;
}
#rocketssss{
    padding: 0;
    text-align: center;
    color: black;
}

/*footer*/
footer{
    background: rgba(0, 0, 0, 0.23);
    text-align: center;
    padding: 5px;
}
footer p{
    font-family: "Geologica Thin";
    font-size: 18px;
}